@charset "UTF-8";

.c01ly_textCounter {
	padding: 8px;
	width: 100dvw;
  height: 100dvh;
	display: flex;
	flex-flow: column nowrap;
}

.c01bl_form {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}






.c01bl_form_btn {
	display: block;
	width: 100%;
	padding: 16px;
	margin: 0;
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.04em;
	cursor: pointer;
	background: none;
	border: 2px solid transparent;
	border-radius: max(
		min(4px, calc(40px - 100%) * 9999),
		min(8px, calc(100% - 40px) * 9999, calc(120px - 100%) * 9999),
		min(12px, calc(100% - 120px) * 9999)
	);
	transition: .25s;
}

.c01bl_form_btn.c01bl_form_btnPrimary {
	color: var(--sc_txt_btn__primary);
	text-decoration: none;
	background-color: var(--sc_bg_btn__primary);
}

.c01bl_form_btn.c01bl_form_btnPrimary:hover,
.c01bl_form_btn.c01bl_form_btnPrimary:active {
	filter: brightness(87%);
}

.c01bl_form_btn.c01bl_form_btnSecondary {
	color: var(--sc_txt_btn__secondary);
	text-decoration: none;
	background-color: transparent;
	border-color: currentcolor;
}

.c01bl_form_btn.c01bl_form_btnSecondary:hover,
.c01bl_form_btn.c01bl_form_btnSecondary:active {
	background-color: var(--sc_bg_btn__secondary);
}

.c01bl_form_btn.c01bl_form_btnTertiary {
	color: var(--sc_txt_btn__tertiary);
	text-decoration: underline;
	background-color: transparent;
}

.c01bl_form_btn.c01bl_form_btnTertiary:hover,
.c01bl_form_btn.c01bl_form_btnTertiary:active {
	color: var(--sc_txt_link__active);
}






.c01bl_form_block {
	display: block;
	width: 100%;
	margin: 1rem 0;
}

.c01bl_form_label {
	display: block;
	align-self: flex-start;
}

.c01bl_form_textArea {
	display: block;
	width: 100%;
	height: 10rem;
}

.c01bl_form_output {
	display: block;
	width: 100%;
	margin: 1rem 0;
}

.c01bl_form_output > table {
	table-layout: auto;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	border: var(--sc_border_field);
}

.c01bl_form_output > table > thead {
	background-color: var(--sc_bg_body__tertiary);
	font-size: 1.5rem;
	font-weight: 700;
	border-bottom: var(--sc_border_field);
}

.c01bl_form_output > table > tbody {
	background-color: var(--sc_bg_body__primary);
}

.c01bl_form_output > table > tbody > tr:nth-child(even) {
	background-color: var(--sc_bg_body__secondary);
	border-bottom: var(--sc_border_divider);
}

.c01bl_form_output > table > tbody > tr:last-child {
	border-bottom: var(--sc_border_field);
}

.c01bl_form_output > table td {
	padding: 0.2rem 1rem;
}

.c01bl_form_output > table > tbody > tr > td:nth-child(even) {
	text-align: right;
}
